<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/css/style.css' }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
            
            {# {% set currentUrl %}{{ page.url }}{% endset %}

            <nav>
            <ul role="list">
                <li>
                <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
                </li>

                {% for page in collections.pages %}
                <li>
                <a
                    {% if currentUrl === page.url %}aria-current="page"{% endif %}
                    href="{{ page.url }}">
                    {{ page.data.title }}
                </a>
                </li>
                {%- endfor %}
            </ul>
            </nav> #}
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </header>
        <main>
            {% highlight "json" %}
                {% set navPages = collections.all | eleventyNavigation %}
                {{ navPages | dump | safe }}
            {% endhighlight %}
            {{ content | safe }}
        </main>
    </body>
</html>