---
layout: base.njk
---

{{ content | safe }}

<div class="accordion accordion-flush" id="accordion">
    {% set navPages = collections.all | eleventyNavigation(title.toLowerCase()) %}
    {% for entry in navPages %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTop-{{loop.index}}">
                <a class="accordion-link" href="{{ entry.url | url }}">{{ entry.title | capitalize }}</a>
            </h2>
        </div>
        {% if entry.children.length %}
            {% for child in entry.children %}
                <div class="accordion-item">
                    <h3 class="accordion-header" id="heading-{{ child.title }}-{{loop.index}}">
                        <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ child.title }}-{{loop.index}}"
                            aria-expanded="false"
                            aria-controls="{{ child.title }}-{{loop.index}}">
                            {{ child.title | capitalize }}
                        </button>
                    </h3>
                    <div id="{{ child.title }}-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading-{{ child.title }}{{loop.index}}" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            {% if child.children.length %}
                                <ul class="list-unstyled">
                                {% for child in child.children %}
                                    <li><a  class="accordion-child" href="{{ child.url | url }}">{{ child.title | capitalize }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<script src="/js/home.js"></script>