---
layout: base.njk
---
<header>
    <h1>{{ title }}</h1>
</header>
<nav class="home-nav">
    {% set navPages = collections.all | eleventyNavigation(title.toLowerCase()) %}
    {% macro renderNavListItem(entry, index) %}
        <li class="home-nav-item">
            <h2><a href="{{ entry.url | url }}">{{ entry.title }}</a></h2>
        </li>
        {% if entry.children.length %}
            <li class="home-nav-sub">
                <ul class="home-nav-sub">
                    {% for child in entry.children %}{{ renderNavListItem(child, loop.index) }}{% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endmacro %}

    <ul class="home-nav-top">
        {% for entry in navPages %}{{ renderNavListItem(entry, loop.index) }}{% endfor %}
    </ul>
</nav>
{# {% set navPages = collections.all | eleventyNavigation %}
{{ navPages.shift() | dump | safe }} #}

{# {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }} #}

{# {{ collections.all | eleventyNavigation(title.toLowerCase()) | eleventyNavigationToHtml({ showExcerpt: true }) | safe }} #}
