---
layout: base.njk
---
<span id="area" class="visually-hidden">{{ eleventyNavigation.parent }}</span>
<span class="text-muted">{{ content | emojiReadTime }}</span>

<div class="row mt-2">
    {{ content | safe }}
</div>

<script defer type="module" src="/js/assignments.js"></script>