---
layout: base.njk
---

<h1>Theme</h1>

{{ tags }}

{% highlight "json" %}
{% set navPages = collections.all | eleventyNavigation("webbutveckling") %}
{{ navPages | dump | safe }}
{% endhighlight %}

{{ content | safe }}